#!/usr/bin/env bash

# Git diff from HEAD to commit hash,
# send to file on desktop, open in text editor
function gitdiff() {
  local timestamp;
  timestamp=$(date +%Y%m%d%H%M%S);
  git diff --name-status HEAD "$1" > ~/Desktop/diff"$timestamp".txt && open ~/Desktop/diff"$timestamp".txt;
}

# `a` with no arguments opens the current directory in Atom, otherwise
# opens the given location
# function a() {
#   if [ $# -eq 0 ]; then
#     atom .;
#   else
#     atom "$@";
#   fi;
# }

# muscle memory override
function a() {
  if [ $# -eq 0 ]; then
    subl .;
  else
    subl "$@";
  fi;
}

# `s` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
function s() {
  if [ $# -eq 0 ]; then
    subl .;
  else
    subl "$@";
  fi;
}

# `t` with no arguments opens the current directory in Git Tower, otherwise
# opens the given location
function t() {
  if [ $# -eq 0 ]; then
    gittower .;
  else
    gittower "$@";
  fi;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
  if [ $# -eq 0 ]; then
    open .;
  else
    open "$@";
  fi;
}

# List merged remote branches
function check-merged() {
  git branch &&
  git pull &&
  for branch in $(git branch -r --merged | grep -v HEAD); do echo -e "$(git show --format="%ci %cr %an" "$branch" | head -n 1)" "\\t$branch"; done | sort -r
  echo -e "\nto remove:\\ngit push origin --delete branch-name";
}

# List merged remote branches - list for editing
function check-merged-list() {
  git branch &&
  git pull &&
  for branch in $(git branch -r --merged | grep -v HEAD); do echo -e "$(git show --format="%ci %n" "$branch" | head -n 1)" "\\t$branch"; done | sort -r
  echo -e "\nto remove:\\ngit push origin --delete branch-name";
}

# List unmerged remote branches
function check-unmerged() {
  git branch &&
  git pull &&
  for branch in $(git branch -r --no-merged | grep -v HEAD); do echo -e "$(git show --format="%ci %cr %an" "$branch" | head -n 1)" "\\t$branch"; done | sort -r
  echo -e "\nto remove:\\ngit push origin --delete branch-name";
}

# List merged remote branches - list for editing
function check-unmerged-list() {
  git branch &&
  git pull &&
  for branch in $(git branch -r --merged | grep -v HEAD); do echo -e "$(git show --format="%ci %n" "$branch" | head -n 1)" "\\t$branch"; done | sort -r
  echo -e "\nto remove:\\ngit push origin --delete branch-name";
}

# Show most used commands
# via: https://remysharp.com/2019/10/08/listing-your-most-used-commands
function command-history() {
  history |
  awk 'BEGIN {FS="\\|"; OFS="\n"} { $1=$1; gsub(/^[0-9* ]+/, ""); print $0 }' |
  awk '{ $1=$1 } /^[a-z]/ { print $1 }' |
  sort |
  uniq -c |
  sort -n
}
