@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* remove folder icons and favicons from bookmarks bar */
#personal-bookmarks .bookmark-item .toolbarbutton-icon {
  display: none !important;
}

/* space out bookmarks bar */
#personal-bookmarks .bookmark-item {
  font-size: 14px !important;
  padding: 5px 8px !important;
}
