name: Lint shell scripts

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint check .sh
        uses: azohra/shell-linter@v0.6.0
      - name: Lint check .functions
        uses: azohra/shell-linter@v0.6.0
        with:
          path: "home/.functions"
      - name: Lint check .aliases
        uses: azohra/shell-linter@v0.6.0
        with:
          path: "home/.aliases"
